<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>
<!-- https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template -->
<body>
    <script
    src="https://www.paypal.com/sdk/js?client-id=ASOGZarWLQCk0OALjWJ3HGPH5plLupgIyaxnUp_xxkMYbmaOxPeDxrk0rv53PfpbUfYExKmjFf3g2DWC&currency=EUR"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>

    <div id="paypal-button-container"></div>

    <script type="text/javascript">
            var myorder = {{ order|tojson }};
            var purchase_units = myorder["purchase_units"]
    </script>

   <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({
          purchase_units
        }).then(function(data) {
            //return orderData.id;
            return data.orderID;
        });
      },
      onApprove: function(data, actions) {
            return fetch('/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                orderID: data.orderID
              })
            }).then(function(res) {
                return res.json();
            }).then(function(data) {
                // Three cases to handle:
                //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                //   (2) Other non-recoverable errors -> Show a failure message
                //   (3) Successful transaction -> Show a success / thank you message

                // Your server defines the structure of 'orderData', which may differ
                var errorDetail = Array.isArray(data.details) && data.details[0];

                if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                    // Recoverable state, see: "Handle Funding Failures"
                    // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    return actions.restart();
                }

                if (errorDetail) {
                    var msg = 'Sorry, your transaction could not be processed.';
                    if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                    if (data.debug_id) msg += ' (' + data.debug_id + ')';
                    // Show a failure message
                    return alert(msg);
                }

                // Show a success message to the buyer
                alert('Transaction completed by ' + orderData.payer.name.given_name);
            });
        }}).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
  </script>
</body>
</html>
<!-- To change the parameters passed -->
<!-- https://developer.paypal.com/docs/api/orders/v2/#orders_create -->

